# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Importing Dataframe

In [2]:
# Creating path

path = r'/Users/david/Desktop/CF/Data Immersion/Achievement 4 - Python Fundamentals for Data Analysts/07-2022 Instacart Basket Analysis'

In [3]:
# Check 'path'

path

'/Users/david/Desktop/CF/Data Immersion/Achievement 4 - Python Fundamentals for Data Analysts/07-2022 Instacart Basket Analysis'

In [4]:
# Importing 'ords_prods_cust_27_07.pkl' data set as 'ords_prods_cust' dataframe

ords_prods_cust = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '27_07_22', 'ords_prods_cust_27_07.pkl'))

In [5]:
# Check 'ords_prods_cust'

ords_prods_cust.head(10)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,Frequency_flag,first_name,surname,gender,state,age,date_joined,dependants_num,marital_status,income
0,2539329,1,1,2,8,11.11484,196,1,0,Soda,...,NaN,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.00000,196,1,1,Soda,...,NaN,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.00000,196,1,1,Soda,...,NaN,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.00000,196,1,1,Soda,...,NaN,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.00000,196,1,1,Soda,...,NaN,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
5,3367565,1,6,2,7,19.00000,196,1,1,Soda,...,NaN,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
6,550135,1,7,1,9,20.00000,196,1,1,Soda,...,NaN,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
7,3108588,1,8,1,14,14.00000,196,2,1,Soda,...,NaN,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
8,2295261,1,9,1,16,0.00000,196,4,1,Soda,...,NaN,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
9,2550362,1,10,4,8,30.00000,196,1,1,Soda,...,NaN,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [6]:
ords_prods_cust.shape

(32404859, 34)

## Using Excel With Python

### Crosstabs in Python

#### Since there are missing values in the 'days_since_prior_order' colum (due to there cannot be prior orders before the first order placed by the customer),  we can verify these missing values by creating a crosstab with the following code

In [8]:
crosstab = pd.crosstab(ords_prods_cust['days_since_prior_order'], ords_prods_cust['order_number'], dropna = False)

In [9]:
# Check 'crosstab' object

crosstab

order_number,1,2,3,4,5,6,7,8,9,10,...,90,91,92,93,94,95,96,97,98,99
days_since_prior_order,,,,,,,,,,,,,,,,,,,,,
0.00000,0,20536,20441,17984,16438,16046,14384,13890,12774,11460,...,1195,1148,1040,937,1134,1099,1041,883,1037,935
1.00000,0,31674,29950,28010,27092,25533,24996,22921,21783,21067,...,2787,2801,2728,2605,2606,2639,2436,2535,2633,2363
2.00000,0,46454,46264,43902,40729,40907,38101,37519,35745,33830,...,3623,3555,3314,3589,3319,3072,2985,3057,3091,2609
3.00000,0,61637,63388,59996,57882,56183,52869,49291,48295,47826,...,3318,3237,2799,3073,2902,2635,2658,2462,2168,2467
4.00000,0,76733,78861,73540,70519,66569,62399,61143,59499,57700,...,2342,2260,2490,2031,1800,2083,1918,1792,1695,1810
5.00000,0,88999,91741,86503,81859,77583,73584,70020,64468,63154,...,1630,1630,1367,983,1215,1220,1166,966,912,936
6.00000,0,120681,122871,114644,106764,100756,95954,89752,87203,78634,...,754,842,940,1014,835,570,490,602,485,542
7.00000,0,184802,181656,167597,157442,143628,137675,128423,120734,114769,...,634,573,521,440,602,421,420,378,419,322
8.00000,0,112324,110742,102217,94945,87611,81622,78760,71070,67567,...,238,262,228,244,275,232,234,143,137,84
9.00000,0,73676,75379,68513,65045,58933,54801,50593,47752,43483,...,190,90,98,101,146,91,67,102,66,65
10.00000,0,62037,62457,57676,51916,49463,43706,41110,38443,34916,...,60,103,222,78,45,116,4,101,42,59
11.00000,0,55561,55918,51974,45512,42542,40174,36884,33404,30830,...,57,83,175,55,68,126,63,64,1,19
11.11484,2076096,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12.00000,0,54604,56630,51043,44615,42591,38685,35331,33477,29857,...,58,54,70,32,50,75,55,52,5,66
13.00000,0,63962,66351,58478,54339,47725,44872,41268,38333,34275,...,69,93,93,80,85,24,27,61,83,68
14.00000,0,82109,79773,74714,67484,60476,54863,49237,46265,42381,...,38,8,13,96,55,41,32,54,33,5
15.00000,0,54492,53593,50229,44029,39497,35548,33879,29615,27757,...,44,14,31,25,6,23,20,17,7,17
16.00000,0,38887,39524,34481,30581,28286,25429,22407,22373,20587,...,65,20,7,0,12,0,39,50,17,10
17.00000,0,31942,32861,29823,26271,23860,20629,18592,17567,16012,...,14,0,32,0,16,7,4,23,0,5
18.00000,0,31615,30484,27305,24859,21999,19165,17597,16762,15066,...,0,1,13,0,20,0,51,0,0,26
19.00000,0,29890,31364,26501,23852,21441,19910,17867,15702,14316,...,0,6,0,0,0,0,21,14,0,0
20.00000,0,35489,35213,31767,28748,25526,23119,19785,17132,16038,...,31,41,7,0,9,0,0,0,0,0
21.00000,0,43945,44587,37647,32182,31429,26005,23502,20599,19549,...,19,0,32,12,0,19,0,0,12,0
22.00000,0,30037,29490,26582,23394,20486,18492,16947,15403,13864,...,0,9,0,0,0,0,0,0,0,0
23.00000,0,22950,24117,19794,17068,15570,13896,11557,11146,8681,...,13,0,0,0,0,9,0,0,0,0
24.00000,0,19287,19434,16898,15718,13536,12404,10803,9504,8252,...,0,0,0,0,0,0,0,0,0,0
25.00000,0,18759,19368,16264,14223,12605,10713,9214,8535,7797,...,0,0,0,0,0,0,0,0,0,0
26.00000,0,18449,19464,16067,14922,12991,11803,9902,8717,7911,...,0,0,0,0,0,9,0,0,0,0
27.00000,0,21333,22614,20202,18333,14454,12479,11797,10209,8594,...,12,0,0,0,0,0,0,0,0,0
28.00000,0,27969,28780,25260,20869,18116,16532,14232,12702,10896,...,0,0,0,0,0,0,6,0,0,0
29.00000,0,19943,19840,17003,14768,13290,11258,10092,8856,7650,...,0,4,0,0,0,0,0,0,0,0
30.00000,0,465633,455713,365995,294503,241262,196568,163732,135424,113059,...,6,11,3,0,0,5,0,0,8,13

In [10]:
# Copy 'corsstab' object to de clipboard

crosstab.to_clipboard()