# Task 4.8: Grouping Data & Aggregating Variables

# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# 27_07_2022 (Action related to Task 4.9)

import matplotlib as plt
import seaborn as sns
import scipy

# Importing Dataframe

In [2]:
# Creating path

path = r'/Users/david/Desktop/CF/Data Immersion/Achievement 4 - Python Fundamentals for Data Analysts/07-2022 Instacart Basket Analysis'

In [3]:
# Check 'path'

path

'/Users/david/Desktop/CF/Data Immersion/Achievement 4 - Python Fundamentals for Data Analysts/07-2022 Instacart Basket Analysis'

## 1.- Importing 'ords_prods_merge_25_07.pkl' as 'ords_prods_merge' dataframe

In [4]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '25_07_22', 'ords_prods_merge_25_07.pkl'))

In [5]:
# Check'ords_prods_merge' dataframe

ords_prods_merge

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,11.11484,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Intermediately busy days,Average orders
1,2398795,1,2,3,7,15.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.00000,43553,2,1,Orange Energy Shots,64,7,3.7,both,Low-range product,Regularly busy,Intermediately busy days,Most orders
32404855,31526,202557,18,5,11,3.00000,43553,2,1,Orange Energy Shots,64,7,3.7,both,Low-range product,Regularly busy,Intermediately busy days,Most orders
32404856,758936,203436,1,2,7,11.11484,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Regularly busy,Intermediately busy days,Average orders
32404857,2745165,203436,2,3,5,15.00000,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Regularly busy,Slowest days,Fewest orders
32404858,3093936,205420,1,4,14,11.11484,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,Mid-range product,Least busy,Slowest days,Most orders

## # 2.- Find the aggregated mean of the 'order_number' column grouped by 'derpatment_id' for the entire dataframe

In [6]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## 3.- How the results for the entire dataframe differ from those of the subset?

#### The averages change for each department because the aggregation has been runned in the entire dataframe instead of only un 1,000,000 rows. In this case subset case, only 8 departments were taken in consideration, whereas in this case, the entire list of departmens (21) are being considered.

## 4.- Create loyalty flag for existing customers using the 'transform()' and 'loc()' functions.

#### Criteria to create the flag:

##### If the maximum orders the customer has placed is over 40 orders, then 'Loyal customer'
##### If the maximum orders the user hasmade is over 10 but less than or equal to 40, then 'Regular customer'
##### If the maximum orders the user has made is less than or equal to 10, then 'New Customer'

#### Once this process is complete, use 'max_order' column to create another new colum tha assigns loyalty flag to each customer accordint to the criteria (via 'loc()' function).

### Aggregating Data with trnasform()

In [8]:
# Create 'max_order' column (all the three steps can be included in a single line of code)

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
# Check the newly created 'max_order' column

ords_prods_merge['max_order']

0           10
1           10
2           10
3           10
4           10
            ..
32404854    31
32404855    31
32404856     3
32404857     3
32404858    16
Name: max_order, Length: 32404859, dtype: int64

In [10]:
# Check 'ords_prods_merge' dataframe

ords_prods_merge

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,11.11484,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Intermediately busy days,Average orders,10
1,2398795,1,2,3,7,15.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.00000,43553,2,1,Orange Energy Shots,64,7,3.7,both,Low-range product,Regularly busy,Intermediately busy days,Most orders,31
32404855,31526,202557,18,5,11,3.00000,43553,2,1,Orange Energy Shots,64,7,3.7,both,Low-range product,Regularly busy,Intermediately busy days,Most orders,31
32404856,758936,203436,1,2,7,11.11484,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Regularly busy,Intermediately busy days,Average orders,3
32404857,2745165,203436,2,3,5,15.00000,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Regularly busy,Slowest days,Fewest orders,3
32404858,3093936,205420,1,4,14,11.11484,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,Mid-range product,Least busy,Slowest days,Most orders,16

#### A new colum called 'max_order' has been created, indicating the number of orders each customer ID has placed.

### Deriving Columns with loc()

#### Assign a loyalty flag to each customer ID based on corresponding 'max_column' value

In [11]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [14]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [15]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [16]:
# Check flags for each type of customers

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [17]:
# Check 'ords_prods_merge'

ords_prods_merge

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,11.11484,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Intermediately busy days,Average orders,10,New customer
1,2398795,1,2,3,7,15.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.00000,43553,2,1,Orange Energy Shots,64,7,3.7,both,Low-range product,Regularly busy,Intermediately busy days,Most orders,31,Regular customer
32404855,31526,202557,18,5,11,3.00000,43553,2,1,Orange Energy Shots,64,7,3.7,both,Low-range product,Regularly busy,Intermediately busy days,Most orders,31,Regular customer
32404856,758936,203436,1,2,7,11.11484,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Regularly busy,Intermediately busy days,Average orders,3,New customer
32404857,2745165,203436,2,3,5,15.00000,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Regularly busy,Slowest days,Fewest orders,3,New customer
32404858,3093936,205420,1,4,14,11.11484,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,Mid-range product,Least busy,Slowest days,Most orders,16,Regular customer

## 5.- Marketing team wants to know whether there's a difference between the spending habits of the three identified type of customers. Use the created loyalty flag and check basic statistics of the product proces for each loyalty categroy. Determine whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers

In [18]:
# aggregating basic statistics grouped by 'loyalty_flag'

ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

##  6.- Determine the prices if products purchased by loyal customers differ from the other two types of customers, by creating an 'average_expenditure' and flagging each customer according to their expenditure behaviour

In [19]:
ords_prods_merge['average_expenditure'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [20]:
# Check 'average_expenditure' column

ords_prods_merge['average_expenditure']

0           6.367797
1           6.367797
2           6.367797
3           6.367797
4           6.367797
              ...
32404854    6.905655
32404855    6.905655
32404856    7.631579
32404857    7.631579
32404858    7.684746
Name: average_expenditure, Length: 32404859, dtype: float64

In [23]:
ords_prods_merge.shape

(32404859, 21)

### Determine Whther products purchased by loyal customers differ from those purchased by the other two types or customers by creating flags

In [26]:
# flag for 'High Spender'
ords_prods_merge.loc[(ords_prods_merge['average_expenditure'] >= 10), 'expenditure_flag'] = 'High Spender'

In [27]:
# flag for 'Low Spender'
ords_prods_merge.loc[(ords_prods_merge['average_expenditure'] < 10), 'expenditure_flag'] = 'Low Spender'

In [28]:
# Check number of flags based on customers expenditure behaviour 

ords_prods_merge['expenditure_flag'].value_counts(dropna = False)

Low Spender     31770614
High Spender      634245
Name: expenditure_flag, dtype: int64

## 7.- In order to send relevant notification to (customer) users within the app, the Instacart team wants to determine frequent vs/ non-frequent customers. Create an order frequency flag that marks the regularity of user's ordering behaviour according to median in the 'days_since_prior_order column. The flag criteria is as follows

### -If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
### - If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
### - If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [30]:
# Creating 'purchase_frequency' column

ords_prods_merge['purchase_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [31]:
# Check 'purchase_frequency' column
ords_prods_merge['purchase_frequency']

0           20.0
1           20.0
2           20.0
3           20.0
4           20.0
            ...
32404854     8.0
32404855     8.0
32404856    15.0
32404857    15.0
32404858    12.0
Name: purchase_frequency, Length: 32404859, dtype: float64

In [32]:
ords_prods_merge.shape

(32404859, 23)

In [33]:
# Flag for 'Non-Frequent Customer'

ords_prods_merge.loc[(ords_prods_merge['purchase_frequency'] > 20), 'frequency_flag'] = 'Non-Frequent Cusotmer'

In [34]:
# Flag for 'Regular Customer'

ords_prods_merge.loc[(ords_prods_merge['purchase_frequency'] > 10) & (ords_prods_merge['purchase_frequency'] <= 20), 'frequency_flag'] = 'Regular Customer'

In [37]:
# Flag for ' Frequent Customer'

ords_prods_merge.loc[(ords_prods_merge['purchase_frequency'] <= 10), 'Frequency_flag'] = 'Frequent Customer'

In [38]:
# Check frequency flags based on customers' behaviour

ords_prods_merge['expenditure_flag'].value_counts(dropna = False)

Low Spender     31770614
High Spender      634245
Name: expenditure_flag, dtype: int64

In [39]:
# Check dataframe shape to verify new columns

ords_prods_merge.shape

(32404859, 25)

## 9.- Export dataframe as a pickle into 'Prepared Data' folder

In [41]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '26_07_22', 'ords_prods_merge_26_07.pkl'))

### Odd values in 'prices' (that should have been cleaned in the Consistency Checks stage)

In [3]:
# To turn those two values into NaNs

ords_prods_merge.loc[ords_prods_merge['prices'] > 100, 'prices'] = np.nan

# The value assigned will be the function 'np.nan', which is to assign missing values.

NameError: name 'np' is not defined

In [ ]:
# Check maximum 'prices' column--verify if outliers have been assigned as missing

ords_prods_merge['prices'].max()

### Varify the two cells above.